:root {
  --atom-size: 100px;
  --atom-color-rgb: 22, 0, 208;
  --nucleus-size: calc(var(--atom-size) / 5);
  --electron-color-hex: #0a05b1;
  --electron-size: calc(var(--atom-size) / 25);
  --electron-orbit-size: calc(var(--atom-size) / 2.5);
  --electron-speed: 1.2s;
  --electron-speed-alpha: 1s;
  --electron-speed-omega: 0.8s;
}

@media only screen and (max-width: 600px) {
  :root {
    --atom-size: 75px;
  }
}

/* Atom */
.atom {
  position: relative;
  width: var(--atom-size);
  height: var(--atom-size);
  animation: 3s atom infinite linear;
}
@keyframes atom {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Nucleus */
.atom::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--nucleus-size);
  height: var(--nucleus-size);
  margin-top: calc(var(--nucleus-size) / -2);
  margin-left: calc(var(--nucleus-size) / -2);
  background: var(--electron-color-hex); /* var(--atom-color-hex); */
  border-radius: 100%;
  animation: 5s nucleus infinite cubic-bezier(0.65, 0, 0.35, 1);
  box-shadow: 0 0 55px rgba(10, 95, 240, 0.3);
}
@keyframes nucleus {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

/* Electron Orbit */
.atom > [class^="electron"] {
  border-top: solid rgba(var(--atom-color-rgb), 0.5) 1px;
  border-right: solid rgba(var(--atom-color-rgb), 0.35) 2px;
  border-bottom: solid rgba(var(--atom-color-rgb), 0.2) 4px;
  border-left: solid rgba(var(--atom-color-rgb), 0) 2px;
  border-radius: 100%;
  width: 100%;
  height: var(--electron-orbit-size);
  position: absolute;
  top: 50%;
  margin-top: calc(var(--electron-orbit-size) / -2);
  animation: var(--electron-speed) electron-orbit infinite linear;
}
.atom > .electron-alpha {
  transform: rotate(60deg);
  animation: var(--electron-speed-alpha) electron-orbit infinite linear;
}
.atom > .electron-omega {
  transform: rotate(-60deg);
  animation: var(--electron-speed-omega) electron-orbit infinite linear;
}
@keyframes electron-orbit {
  0% {
    border-top: solid rgba(var(--atom-color-rgb), 0.5) 1px;
    border-right: solid rgba(var(--atom-color-rgb), 0.35) 2px;
    border-bottom: solid rgba(var(--atom-color-rgb), 0.2) 4px;
    border-left: solid rgba(var(--atom-color-rgb), 0) 2px;
  }
  25% {
    border-top: solid rgba(var(--atom-color-rgb), 0.35) 1px;
    border-right: solid rgba(var(--atom-color-rgb), 0.2) 2px;
    border-bottom: solid rgba(var(--atom-color-rgb), 0) 4px;
    border-left: solid rgba(var(--atom-color-rgb), 0.5) 2px;
  }
  50% {
    border-top: solid rgba(var(--atom-color-rgb), 0.2) 1px;
    border-right: solid rgba(var(--atom-color-rgb), 0) 2px;
    border-bottom: solid rgba(var(--atom-color-rgb), 0.5) 4px;
    border-left: solid rgba(var(--atom-color-rgb), 0.35) 2px;
  }
  75% {
    border-top: solid rgba(var(--atom-color-rgb), 0) 1px;
    border-right: solid rgba(var(--atom-color-rgb), 0.5) 2px;
    border-bottom: solid rgba(var(--atom-color-rgb), 0.35) 4px;
    border-left: solid rgba(var(--atom-color-rgb), 0.2) 2px;
  }
  100% {
    border-top: solid rgba(var(--atom-color-rgb), 0.5) 1px;
    border-right: solid rgba(var(--atom-color-rgb), 0.35) 2px;
    border-bottom: solid rgba(var(--atom-color-rgb), 0.2) 4px;
    border-left: solid rgba(var(--atom-color-rgb), 0) 2px;
  }
}
/* Electron Unit */
.atom [class^="electron"]::after {
  content: "";
  display: block;
  width: var(--electron-size);
  height: var(--electron-size);
  background: var(--electron-color-hex);
  border-radius: 50%;
  margin-top: calc(var(--electron-size) / -2);
  position: absolute;
  top: 50%;
  left: calc(var(--electron-size) / -1);
  transform: scale(1);
  animation: calc(var(--electron-speed) * 2) electron infinite ease-in-out;
  box-shadow: 0 0 18px 5px rgba(10, 225, 240, 0.3);
}
.atom .electron-alpha::after {
  animation: calc(var(--electron-speed-alpha) * 2) electron infinite ease-in-out;
}
.atom .electron-omega::after {
  animation: calc(var(--electron-speed-omega) * 2) electron infinite ease-in-out;
}
@keyframes electron {
  0% {
    left: calc(var(--electron-size) / -1);
    transform: scale(1);
  }
  12.5% {
    top: 100%;
    transform: scale(1.5);
  }
  25% {
    left: 100%;
    transform: scale(1);
  }
  37.5% {
    top: 0%;
    transform: scale(0.25);
  }
  50% {
    left: calc(var(--electron-size) / -1);
    transform: scale(1);
  }
  62.5% {
    top: 100%;
    transform: scale(1.5);
  }
  75% {
    left: 100%;
    transform: scale(1);
  }
  87.5% {
    top: 0%;
    transform: scale(0.25);
  }
  100% {
    left: calc(var(--electron-size) / -1);
    transform: scale(1);
  }
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999; 
  background-color: rgba(0, 0, 0, 0.5); 
}

